<div class="split left">
  <div class="col mx-4">
    <form [formGroup]="bookForm">
      <div class="row">
        <div class="mb-3 col-md-4">
          <label class="form-label-sm" for="inputDate">Datum</label><br>
          <div class="input-group">
            <input formControlName="date" class="form-control form-control-sm"
                   placeholder="dd-mm-yyyy"
                   name="date" ngbDatepicker #d="ngbDatepicker" id="inputDate"
            >
            <button class="btn btn-outline-secondary bi bi-calendar3" style="font-size: 80%;"
                    (click)="d.toggle()"
                    type="button"></button>
          </div>
        </div>
        <div class="mb-3 col-md-4">
          <label class="form-label-sm" for="inputISBN">ISBN</label><br>
          <input #autofocus formControlName="isbn" type="text" class="form-control form-control-sm"
                 id="inputISBN" placeholder="Number"
                 mask="0000000000000" (change)="onChangeIsbn()">
        </div>
        <div class="mb-3 col-md-2">
          <label class="form-label-sm" for="supply">Voorraad</label><br>
          <input formControlName="supply" type="text" class="form-control form-control-sm"
                 id="supply" [readonly]=true>
        </div>
        <div class="mb-3 col-md-2">
          <label class="form-label-sm" for="transactionRef">transactieNr</label><br>
          <input formControlName="transactionRef" type="number" class="form-control form-control-sm"
                 id="transactionRef" [readonly]=true>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-10">
          <label class="form-label-sm" for="inputTitle">Titel</label><br>
          <input formControlName="title" type="text" class="form-control form-control-sm"
                 id="inputTitle" placeholder="Titel">
        </div>
        <div class="mb-3 col-md-2">
          <label class="form-label-sm" for="inputTax">Btw</label><br>
          <select formControlName="tax" type="number" class="form-control form-control-sm"
                  id="inputTax">
            <option *ngFor="let tax of taxArray" value="{{tax}}">{{tax}}%</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-6">
          <label class="form-label-sm" for="inputAuthor">Auteur</label><br>
          <input formControlName="author" type="text" class="form-control form-control-sm"
                 id="inputAuthor" placeholder="Auteur">
        </div>
        <div class="mb-3 col-md-6">
          <label class="form-label-sm" for="inputPublisher">Uitgever</label><br>
          <select formControlName="publisher" name="publisher" class="form-control form-control-sm"
                  id="inputPublisher">
            <option *ngFor="let publisher of (publisher$ | async)"
                    [ngValue]="publisher.id">{{publisher.publisher}}
            </option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-2">
          <label class="form-label-sm" for="inputAmount">Aantal(F8)</label><br>
          <input formControlName="amount" type="number" class="form-control form-control-sm"
                 id="inputAmount" placeholder="1" min="1"
                 (change)="calculateTotalPriceBook()">
        </div>
        <div class="mb-3 col-md-2">
          <label class="form-label-sm" for="inputPrice">Prijs</label><br>
          <input formControlName="price" type="text" class="form-control form-control-sm"
                 id="inputPrice" placeholder="0"
                 mask="separator.2" decimalMarker=","
                 thousandSeparator="." (change)="calculateTotalPriceBook()">
          <div class="validator"
               *ngIf="bookForm.controls['price'].invalid && (bookForm.controls['price'].dirty ||bookForm.controls['price'].touched)">
            Max. {{bookForm.controls['price'].errors.requiredValue}}
          </div>
        </div>
        <div class="mb-3 col-md-2">
          <label class="form-label-sm" for="inputDiscountPercent">% Korting</label><br>
          <input formControlName="discountPercent" type="text" class="form-control form-control-sm"
                 id="inputDiscountPercent"
                 mask="separator.2" decimalMarker=","
                 thousandSeparator="." (change)="calculateTotalPriceBook()">
        </div>
        <div class="mb-3 col-md-2">
          <label class="form-label-sm" for="inputTotal">Totaal</label><br>
          <input formControlName="total" type="text" class="form-control form-control-sm"
                 id="inputTotal" placeholder="0"
                 mask="separator.2" decimalMarker=","
                 thousandSeparator="." [readonly]=true>
        </div>

        <div class="mb-3 col-md-4">
          <label class="form-label-sm" for="buttonOk">Boek toevoegen</label><br>
          <button type="button" class="btn btn-info btn-block btn-sm" id="buttonOk"
                  [disabled]="bookForm.invalid"
                  (click)="onAddBookButton()">Boek
            toevoegen(F1)
          </button>
        </div>
      </div>
    </form>
    <hr class="solid"/>
    <form [formGroup]="itemForm">
      <div class="row">
        <div class="mb-3 col-md-10">
          <div class="mb-3">
            <label class="form-label-sm" for="inputItem">Artikel</label><br>
            <select formControlName="item" name="item" class="form-control form-control-sm"
                    id="inputItem"
                    (change)="onInputArticleSelected()">
              <option *ngFor="let item of (item$ | async)" [ngValue]="item">{{item.description}}
                ({{item.tax}}
                %) {{item.price.replace('.', ',')}}
              </option>
            </select>
          </div>
        </div>
        <div class="mb-3 col-md-2">
          <label class="form-label-sm" for="inputObjectTax">Btw</label><br>
          <select formControlName="itemTax" type="number" class="form-control form-control-sm"
                  id="inputObjectTax">
            <option *ngFor="let tax of taxArray" value="{{tax}}">{{tax}}%</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-2">
          <label class="form-label-sm" for="inputObjectAmount">Aantal(F9)</label><br>
          <input formControlName="itemAmount" type="number" class="form-control form-control-sm"
                 min="1" id="inputObjectAmount"
                 placeholder="1" (change)="calculateTotalPriceItem()">
          <div></div>
        </div>
        <div class="mb-3 col-md-2">
          <label class="form-label-sm" for="inputObjectPrice">Prijs</label><br>
          <input #autofocusPrijs formControlName="itemPrice" type="text" name="inputObjectPrice"
                 class="form-control form-control-sm"
                 id="inputObjectPrice" placeholder="Prijs"
                 mask="separator.2" thousandSeparator="." decimalMarker=","
                 (change)="calculateTotalPriceItem()">
          <div class="validator"
               *ngIf="itemForm.controls['itemPrice'].invalid && (itemForm.controls['itemPrice'].dirty ||itemForm.controls['itemPrice'].touched)">
            Max. {{itemForm.controls['itemPrice'].errors.requiredValue}}
          </div>
        </div>

        <div class="mb-3 col-md-2">
          <label class="form-label-sm" for="inputObjectDiscount">Korting</label><br>
          <input formControlName="itemDiscount" type="text" class="form-control form-control-sm"
                 id="inputObjectDiscount"
                 mask="separator.2" decimalMarker=","
                 thousandSeparator="." (change)="calculateTotalPriceItem()">
        </div>
        <div class="mb-3 col-md-2">
          <label class="form-label-sm" for="inputObjectTotal">Totaal</label><br>
          <input formControlName="itemTotal" type="text" class="form-control form-control-sm"
                 id="inputObjectTotal" placeholder="0"
                 mask="separator.2" decimalMarker=","
                 thousandSeparator="." [readonly]=true>
        </div>
        <div class="mb-3 col-md-4">
          <label class="form-label-sm" for="buttonObjectOk">Toevoegen</label><br>
          <button type="button" class="btn btn-info btn-block btn-sm" id="buttonObjectOk"
                  [disabled]="!itemForm.valid"
                  (click)="onAddItemButton()">Artikel toevoegen(F2)
          </button>
        </div>
      </div>
    </form>
    <hr class="solid"/>

    <form [formGroup]="discountForm">
      <div class="row">
        <div class="mb-3 col-md-2">
          <label class="form-label-sm" for="inputKortingText">Af</label><br>
          <input formControlName="discountValueText" type="text"
                 class="form-control form-control-sm" id="inputKortingText"
                 maxLength="30">
        </div>

        <div class="mb-3 col-md-2">
          <label class="form-label-sm" for="inputObjectDiscountTotal">&euro; v.totaal</label><br>
          <input formControlName="discountValue" type="text" class="form-control form-control-sm"
                 id="inputObjectDiscountTotal"
                 mask="separator.2" thousandSeparator="." decimalMarker="," maxlength="10">
        </div>
        <div class="mb-3 col-md-2">
          <label class="form-label-sm" for="inputKortingTextPercent">Korting</label><br>
          <input formControlName="discountPercentageText" maxLength=30 type="text"
                 class="form-control form-control-sm"
                 id="inputKortingTextPercent">
        </div>

        <div class="mb-3 col-md-2">
          <label class="form-label-sm" for="inputObjectExtraDiscountTotal">% v.totaal</label><br>
          <input formControlName="discountPercentage" type="text"
                 class="form-control form-control-sm"
                 id="inputObjectExtraDiscountTotal" decimalMarker=","
                 mask="separator.1" maxlength="4"
                 thousandSeparator=".">
        </div>

        <div class="mb-3 col-md-2">
          <label class="form-label-sm" for="buttonObjectPay">Totaal</label><br>
          <button type="button" class="btn btn-info btn-block btn-sm" id="buttonObjectPay"
                  [disabled]="orderTotalPrice === 0"
                  (click)="onPayButton()">Afrekenen(F3)
          </button>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-7">
          <div class="custom-control custom-checkbox checkbox-lg">
            <input type="checkbox" class="form-check-input, custom-control-input"
                   id="printLabelCount"
                   [checked]="this.printOrder"
                   (change)="onCheckboxChange($event)">
            <label class="form-label-sm" for="printLabelCount" class="custom-control-label">Afdrukken
              van een
              bonnetje</label><br>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="split right">
  <form #orderwindow class="order">
    <div class="mb-3 col-md-12">
      <span class="headerfont" style="display:block"><b>De KinderBoekenTuin</b></span>
      <span class="headerfont" style="display:block">Speelhuislaan 80</span>
      <span class="headerfont" style="display:block">4815 CG, Breda</span>
      <span class="headerfont" style="display:block">info@kinderboekentuin.nl</span>
      <span class="headerfont" style="display:block">076-737 0099</span>
      <ng-container *ngIf="this.payed === true">
        <span class="headerfont"
              style="display:block">---------------------------------------</span>
        <span class="headerfont" style="display:block"><b>Aantal artikelen afgerekend</b></span>
      </ng-container>
      <span style="display:block">&nbsp;</span>
      <ng-container *ngIf="orderTotalPrice$ | async as orderTotalPrice">
        <ng-container *ngIf="orderTotalPrice > 0">
          <span style="color: red;display:inline-block;width: 3ch;cursor: pointer;"></span>
          <span style="display:inline-block;width: 15ch;"><B>ISBN</B></span>
          <span style="display:inline-block;width: 32ch;"><B>Boek/artikel</B></span>
          <span style="display:inline-block;width: 7ch;"><B>Prijs</B></span>
        </ng-container>
        <ul style="list-style-type:none;margin-bottom: 0;padding:0;margin-right:0;"
            *ngFor="let order of (order$ | async);let indexOfElement=index;">
        <span style="display:inline-block;width: 3ch;cursor: pointer;vertical-align:top"
              data-placement="right"
              data-toggle="tooltip" title="Verwijder boek/artikel"
              (click)="onDelete(indexOfElement, order)">
           <img src="assets/delete-24px.svg" style="opacity: 0.25;" alt="Verwijder boek/artikel"/>
        </span>
          <span style="display:inline-block;width: 15ch;vertical-align:top">{{order.isbn}}</span>
          <span
            style="display:inline-block;width: 30ch;vertical-align:top">{{order.description}}</span>
          <span style="display:inline-block;width: 2ch;"></span>
          <span style="display:inline-block;width: 1ch;vertical-align:top">&euro;</span>
          <span
            style="display:inline-block;width: 7ch;text-align: right;vertical-align:top">{{((order.total)
          / 100 | number:'1.2-2').toString().replace('.', ',')}}</span>
        </ul>
        <ng-container *ngIf="discount.discountPercentage>0">
          <span style="display:inline-block;width: 18ch;"></span>
          <span
            style="display:inline-block;width: 32ch;">{{discount.discountPercentageText}} {{discount.discountPercentage}}
            % ({{(orderTotalPrice / 100 | number:'1.2-2').toString().replace('.', ',')}})</span>
          <span style="display:inline-block;width: 1ch;">&euro;</span>
          <span
            style="display:inline-block;width: 7ch;text-align: right;">{{(discountPercentageValue
          / 100| number:'1.2-2').toString().replace('.', ',')}}</span><span> -</span>
        </ng-container>

        <ng-container *ngIf="orderTotalPrice$ | async as orderTotalPrice">
          <ng-container *ngIf="totalAmount$ | async as totalAmount">
            <ng-container *ngIf="orderTotalPrice > 0">
              <span style="display:inline-block;width: 18ch;"></span>
              <span style="display:inline-block;width: 32ch;"><b>Totaal({{totalAmount}}):</b></span>
              <span style="display:inline-block;width: 1ch;">&euro;</span>
              <span
                style="display:inline-block;width: 7ch;text-align: right;"><b>{{(orderTotalPriceWithDiscount
              / 100 | number:'1.2-2').toString().replace('.', ',')}}</b>
            </span>
              <ng-container *ngIf="orderTotalPriceTaxMap$">
                <ng-container *ngFor="let tax of taxArray">
                  <ng-container *ngIf="orderTotalPriceTaxMapWithDiscount.get(tax) > 0">
                    <span style="display:block"></span>
                    <span style="display:inline-block;width: 18ch;"></span>
                    <span style="display:inline-block;width: 32ch;">Btw {{tax | number: '2.0'}}
                      % ({{(orderTotalPriceTaxMapWithDiscount.get(tax)
                      / 100 | number:'1.2-2').toString().replace('.', ',')}}
                      )</span>
                    <span style="display:inline-block;width: 1ch;">&euro;</span>
                    <span
                      style="display:inline-block;width: 7ch;text-align: right;">{{(((orderTotalPriceTaxMapWithDiscount.get(
                      tax) / (100 + tax)) * tax) / 100 | number:'1.2-2').toString().replace('.',
                      ',')}}</span>
                  </ng-container>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="discount.discountValue > 0">
                <span style="display:inline-block;width: 18ch;"></span>
                <span style="display:inline-block;width: 32ch;"><b>{{discount.discountText}}
                  :</b></span>
                <span style="display:inline-block;width: 1ch;">&euro;</span>
                <span
                  style="display:inline-block;width: 9ch;text-align: right;"><b>{{(discount.discountValue
                / 100 | number:'1.2-2').toString().replace('.', ',')}}
                  -</b>
            </span>
              </ng-container>
              <span style="display:block"></span>
              <span style="display:inline-block;width: 18ch;"></span>
              <span style="display:inline-block;width: 32ch;"><b>Te betalen:</b></span>
              <span style="display:inline-block;width: 1ch;">&euro;</span>
              <span
                style="display:inline-block;width: 7ch;text-align: right;"><b>{{(orderTotalPriceWithDiscountAndReduction
              / 100 | number:'1.2-2').toString().replace('.', ',')}}</b>
            </span>
              <ng-container *ngIf="time.length > 0">
                <p></p>
                <p>&nbsp;&nbsp;&nbsp;<i>{{time}}</i>&nbsp;transactie: {{this.transactionRef}}</p>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </form>
</div>
