@import "src/assets/styles/variables";
$padding-height: 20px;
$margin-width: 20px;

/* Split the screen in half */
.split {
  z-index: 1;
  overflow-x: hidden;
  padding-top: $padding-height;
  padding-bottom: $padding-height;
  height: calc(100% - #{$header-height});
}

/* Control the left side */
.left {
  position: absolute;
  width: 40%;
  top: $header-height;
  left: 0;
  background-color: aquamarine;
  font-family:"Arial", Helvetica, sans-serif;
  //font-size: 18px;
}

/* Control the right side */
.right {
  position: absolute;
  width: 60%;
  top: $header-height;
  left: 40%;
  background-color: aquamarine;
}

.order {
  background-color: white;
  font-family:"Courier New", Courier, monospace;
  font-size: 20px;
  margin-left: $margin-width;
  margin-right: $margin-width;
  height: calc(100%);
  overflow-y: scroll
}

.headerfont {
  font-family:"Arial", Helvetica, sans-serif;
  font-size: 18px;
  margin-left:3ch;
}

.tailfont {
  font-family:"Courier New", Courier, monospace;
  font-size: 18px;
}

button.calendar, button.calendar:active {
  width: 2.75rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}

.checkbox-lg .custom-control-label::before,
.checkbox-lg .custom-control-label::after {
  top: .8rem;
  width: 1.55rem;
  height: 1.55rem;
}

.checkbox-lg .custom-control-label {
  padding-top: 13px;
  padding-left: 6px;
}
