<div class="split left">
  <div class="col">
    <form [formGroup]="bookForm">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputISBN">ISBN</label>
          <input #autofocus formControlName="isbn" type="text" class="form-control" id="inputISBN" placeholder="Number"
                 mask="0000000000000" (keyup)="onChangeIsbn($event)">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputTitle">Titel</label>
          <input formControlName="title" type="text" class="form-control" id="inputTitle" placeholder="Titel">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputAuthor">Auteur</label>
          <input formControlName="author" type="text" class="form-control" id="inputAuthor" placeholder="Auteur">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPublisher">Uitgever</label>
          <select formControlName="publisher" name="publisher" class="form-control" id="inputPublisher">
            <option *ngFor="let publisher of (publisher$ | async)" [ngValue]="publisher.id">{{publisher.publisher}}
            </option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="inputAmount">Aantal</label>
          <input formControlName="amount" type="number" class="form-control" id="inputAmount" placeholder="1"  min="1">
        </div>
        <div class="form-group col-md-3">
          <label for="inputPrice">Prijs</label>
          <input formControlName="price" type="text" class="form-control" id="inputPrice" placeholder="0" mask="separator.2"
                 thousandSeparator=".">
        </div>
        <div class="form-group col-md-3">
          <label for="inputTax">Btw</label>
          <select formControlName="tax" type="number" class="form-control" id="inputTax">
            <option *ngFor="let tax of taxArray" value="{{tax}}">{{tax}}%</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="buttonOk">Toevoegen</label>
          <button type="button" class="btn btn-info btn-block" id="buttonOk" [disabled]="bookForm.invalid"  (click)="onAddBookButton()">Boek
            toevoegen
          </button>
        </div>
      </div>
    </form>
    <br>
    <form [formGroup]="itemForm">
      <div class="form-row">
        <div class="form-group col-md-8">
          <div class="form-group">
            <label for="inputItem">Artikel</label>
            <select formControlName="item" name="item" class="form-control" id="inputItem" placeholder="Artikel"
                    type="number" (change)='onInputArticleSelected($event)'>
              <option *ngFor="let item of (item$ | async)" [ngValue]="item">{{item.description}} ({{item.tax}}
                %) {{item.price.replace('.', ',')}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="inputObjectAmount">Aantal</label>
          <input formControlName="itemAmount" type="number" class="form-control" min="1" id="inputObjectAmount"
                 placeholder="1">
          <div></div>
        </div>
        <div class="form-group col-md-3">
          <label for="inputObjectPrice">Prijs</label>
          <input formControlName="itemPrice" type="text" name="inputObjectPrice" class="form-control"
                 id="inputObjectPrice" placeholder="Prijs"
                 mask="separator.2" thousandSeparator=".">
          <div class="validator"
               *ngIf="itemForm.controls['itemPrice'].invalid && (itemForm.controls['itemPrice'].dirty ||itemForm.controls['itemPrice'].touched)">
            Max. prijs: {{itemForm.controls['itemPrice'].errors.requiredValue}}
          </div>
        </div>
        <div class="form-group col-md-3">
          <label for="inputObjectTax">Btw</label>
          <select formControlName="itemTax" type="number" class="form-control" id="inputObjectTax" placeholder="Btw">
            <option *ngFor="let tax of taxArray" value="{{tax}}">{{tax}}%</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="buttonObjectOk">Toevoegen</label>
          <button type="button" class="btn btn-info btn-block" id="buttonObjectOk" [disabled]="!itemForm.valid"
                  (click)="onAddItemButton()">Artikel toevoegen
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-1">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-1">
        </div>
        <div class="form-group col-md-7">
          <input type="checkbox" class="form-check-input" id="printLabelCount" checked>
          <label for="printLabelCount">Afdrukken van een bonnnetje</label>
        </div>

        <div class="form-group col-md-4">
          <ng-container *ngIf="orderTotalPrice$ | async as orderTotalPrice; else disabledbutton">
            <button type="button" class="btn btn-info btn-block" id="buttonObjectPay"
                    (click)="onPayButton()">Afrekenen
            </button>
          </ng-container>
          <ng-template #disabledbutton>
            <button type="button" class="btn btn-info btn-block"
                    [disabled]="true">Afrekenen
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="split right">
  <form #orderwindow class="order">
    <div class="form-group col-md-12">
      <span class="headerfont" style="display:block"><b>De KinderBoekenTuin</b></span>
      <span class="headerfont" style="display:block">Speelhuislaan 80</span>
      <span class="headerfont" style="display:block">4815 CG, Breda</span>
      <span class="headerfont" style="display:block">info@kinderboekentuin.nl</span>
      <span class="headerfont" style="display:block">076-737 0099</span>
      <span style="display:block">&nbsp;</span>
      <ng-container *ngIf="orderTotalPrice$ | async as orderTotalPrice">
        <ng-container *ngIf="orderTotalPrice > 0">
          <span style="color: red;display:inline-block;width: 3ch;cursor: pointer;"></span>
          <span style="display:inline-block;width: 15ch;"><B>ISBN</B></span>
          <span style="display:inline-block;width: 30ch;"><B>Boek/artikel</B></span>
          <span style="display:inline-block;width: 7ch;"><B>Prijs</B></span>
        </ng-container>
        <ul style="list-style-type:none;margin-bottom: 0;padding:0;margin-right:0;"
            *ngFor="let order of (order$ | async);let indexOfElement=index;">
        <span style="color: red;display:inline-block;width: 3ch;cursor: pointer;vertical-align:top" data-placement="right"
              data-toggle="tooltip" title="Verwijder boek/artikel" (click)="onDelete(indexOfElement, order, $event)">&#x0229D;</span>
          <span style="display:inline-block;width: 15ch;vertical-align:top">{{order.isbn}}</span>
          <span style="display:inline-block;width: 30ch;vertical-align:top">{{order.description}}</span>
          <span style="display:inline-block;width: 1ch;vertical-align:top">&euro;</span>
          <span
            style="display:inline-block;width: 7ch;text-align: right;vertical-align:top">{{((order.price * order.amount) / 100 | number:'1.2-2').toString().replace('.', ',')}}</span>
        </ul>
        <br>
        <ng-container *ngIf="orderTotalPrice$ | async as orderTotalPrice">
          <ng-container *ngIf="orderTotalPrice > 0">
            <span style="display:inline-block;width: 18ch;"></span>
            <span style="display:inline-block;width: 30ch;"><b>Totaal te betalen:</b></span>
            <span style="display:inline-block;width: 1ch;">&euro;</span>
            <span
              style="display:inline-block;width: 7ch;text-align: right;"><b>{{(orderTotalPrice / 100 | number:'1.2-2').toString().replace('.', ',')}}</b></span>
            <ng-container *ngIf="orderTotalPriceTaxMap$ | async as orderTotalPriceTaxMap">
              <ng-container *ngFor="let tax of taxArray">
                <ng-container *ngIf="orderTotalPriceTaxMap.get(tax) > 0">
                  <span style="display:block"></span>
                  <span style="display:inline-block;width: 18ch;"></span>
                  <span style="display:inline-block;width: 30ch;">Totaal Btw {{tax | number: '2.0'}}
                    %: {{(orderTotalPriceTaxMap.get(tax) / 100 | number:'1.2-2').toString().replace('.', ',')}}</span>
                  <span style="display:inline-block;width: 1ch;">&euro;</span>
                  <span
                    style="display:inline-block;width: 7ch;text-align: right;">{{(((orderTotalPriceTaxMap.get(tax) / (100 + tax)) * tax) / 100 | number:'1.2-2').toString().replace('.', ',')}}</span>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </form>
</div>


