<div>
  <div class="top">
    <div class="col">
      <br>
      <form [formGroup]="itemForm">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="itemDescription">Artikel</label>
            <input type="text" class="form-control" formControlName="itemDescription" placeholder="Beschrijving"
                   name="Description"
                   id="itemDescription"/>
          </div>

          <div class="form-group col-md-2">
            <label for="inputObjectTax">Btw</label>
            <select formControlName="itemTax" type="number" class="form-control" id="inputObjectTax" placeholder="Btw">
              <option *ngFor="let tax of taxArray" value="{{tax}}">{{tax}}%</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            <label for="itemPrice">Prijs(optie)</label>
            <input type="text" class="form-control" formControlName="itemPrice" placeholder="Prijs"
                   name="Price" mask="separator.2" thousandSeparator="."
                   id="itemPrice"/>
          </div>

          <div class="form-group col-md-3">
            <label for="buttonObjectOk">Toevoegen</label>
            <button type="button" class="btn btn-info btn-block" id="buttonObjectOk" [disabled]="!itemForm.valid"
                    (click)="onAddItemButton()">Artikel toevoegen
            </button>
          </div>
        </div>
      </form>
    </div>
    <!--
        <div *ngIf="(itemError$ | async)?.message">
          <div class="alert alert-danger" role="alert">
            Some error occurred. Please try again
          </div>
        </div>
        -->
  </div>

  <div class="between">
    <div class="col">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5"><b>Beschrijving</b></div>
        <div class="col-md-3"><B>Btw</B></div>
        <div class="col-md-3"><B>Prijs</B></div>
      </div>
    </div>
  </div>

  <div class="bottom">
    <div class="col">
      <ng-container *ngFor="let item of (item$ | async)">
        <div class="row">
          <div class="col-md-1" style="color: grey;text-align: center;cursor: pointer;" data-placement="right" data-toggle="tooltip" title="Verwijder artikel" (click)="onDeleteItem(item, $event)">
            <img src="assets/delete-24px.svg" style="opacity: 0.25;"/>
          </div>
          <div class="col-md-5">{{ item.description }}</div>
          <div class="col-md-3">{{ item.tax }}</div>
          <div class="col-md-3">{{ item.price | number:'1.2-2'}}</div>
        </div>
      </ng-container>
    </div>
  </div>

</div>



