@import "src/assets/styles/variables";
$top-height: 140px;
$between-height: 30px;
.top {
  position: absolute;
  width: 100%;
  top: $header-height;
  left: 0;
  background-color: aquamarine;
  font-family:"Arial", Helvetica, sans-serif;
  font-size: 18px;
  height: $top-height;
}
.between {
  position: absolute;
  width: 100%;
  top: $header-height + $top-height;
  left: 0;
  background-color: #2bb3c2;
  font-family:"Arial", Helvetica, sans-serif;
  font-size: 18px;
  height: $between-height;
}
.bottom {
  position: absolute;
  width: 100%;
  top: $header-height + $top-height + $between-height;
  left: 0;
  background-color: #ffffff;
  font-family:"Arial", Helvetica, sans-serif;
  font-size: 18px;
  height: calc(100% - (#{$top-height} + #{$header-height} + #{$between-height}));
  overflow-y: scroll
}
