<app-confirm-dialog></app-confirm-dialog>

<form>
  <div class="form-row formTable col">
    <div class="form-group col-md-2">
      <label for="searchTerm">Zoeken op term</label>
      <input id="searchTerm" class="form-control" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
    </div>
    <div class="form-group col-md-1">
      <label for="buttonToday">Deze</label>
      <button type="button" class="btn btn-info btn-block" id="buttonToday"
              (click)="onButtonToday()">dag
      </button>
    </div>
    <div class="form-group col-md-1">
      <label for="buttonYear">Dit</label>
      <button type="button" class="btn btn-info btn-block" id="buttonYear"
              (click)="onButtonYear()">jaar
      </button>
    </div>
    <div class="form-group col-md-3">
      <label for="inputDate1">vanaf</label>
      <div class="input-group">
        <input [(ngModel)]="service.startFromDate" class="form-control" placeholder="dd-mm-yyyy"
               name="date" ngbDatepicker #d="ngbDatepicker" id="inputDate1"

        >
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
    </div>
    <div class="form-group col-md-3">
      <label for="inputDate2">tot en met</label>
      <div class="input-group">
        <input [(ngModel)]="service.endUntilDate" class="form-control" placeholder="dd-mm-yyyy"
               name="date2" ngbDatepicker #e="ngbDatepicker" id="inputDate2"
        >
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="e.toggle()" type="button"></button>
        </div>
      </div>
    </div>
    <div class="form-group col-md-1">
      <label for="buttonAdd">Boek</label>
      <button type="button" class="btn btn-info btn-block" id="buttonAdd"
              (click)="onButtonAdd()">Toevoegen
      </button>
    </div>
    <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <th scope="col" sortable="datetime" (sort)="onSort($event)">Datum</th>
      <th scope="col" sortable="isbn" (sort)="onSort($event)">Isbn</th>
      <th scope="col" sortable="book.title" (sort)="onSort($event)">Titel</th>
      <th scope="col" sortable="author" (sort)="onSort($event)">Auteur</th>
      <th scope="col" sortable="book.publisher" (sort)="onSort($event)">Uitgever</th>
      <th scope="col" sortable="amount" (sort)="onSort($event)">Aantal</th>
      <th scope="col" sortable="amountInDepot" (sort)="onSort($event)">Depot</th>
      <th scope="col" sortable="price" (sort)="onSort($event)">Prijs</th>
      <th scope="col">Totaal</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let procurement of procurement$ | async">
      <td>
        <img src="assets/delete-24px.svg" (click)="handleDelete(procurement)" style="opacity: 0.25;"/>
      </td>
      <td>
        <ngb-highlight [result]="procurement.dateTime | date" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td>
        <ng-container *ngIf="procurement.book.isbn != '0000000000000'">
          <ngb-highlight [result]="procurement.book.isbn" [term]="service.searchTerm"></ngb-highlight>
        </ng-container>
      </td>
      <td>
        <ngb-highlight [result]="procurement.book.title" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td>
        <ng-container *ngIf="procurement.book.isbn != '0000000000000'">
          <ngb-highlight [result]="procurement.book.author" [term]="service.searchTerm"></ngb-highlight>
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="procurement.book.isbn != '0000000000000'">
          <ngb-highlight [result]="procurement.book.publisher.publisher" [term]="service.searchTerm"></ngb-highlight>
        </ng-container>
      </td>
      <td>
        <ngb-highlight [result]="procurement.amount | number" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="procurement.amountInDepot | number" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="procurement.price | number:'1.2-2'" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="(procurement.price * (procurement.amount + procurement.amountInDepot))| number:'1.2-2'" [term]="service.searchTerm"></ngb-highlight>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2 footer">
    <span>Total: {{searchPriceTotal$ | async}}</span>

    <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [maxSize]="5" [rotate]="true"
                    [pageSize]="service.pageSize" [boundaryLinks]="true"></ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="8">8 items per page</option>
      <option [ngValue]="16">16 items per page</option>
    </select>

  </div>

</form>
